ul.close ul { margin: 0; }
ul.line-space li { padding: 3px 0 3px 0; border-bottom: 1px solid #9A99F5; }
ul.line-space a.view { display: block; }
ul.line-space li:hover a { color: #333; }
.about { margin-top: 8px; }

/* Form*/
.row span label { display: inline-block; margin-right: 10px; }
textarea.auto-size, input.auto-size { width: 100%; }

.view .family-info { white-space: pre; }
.family-info table { border-collapse: collapse; width: auto; font-size: 120%; font-weight: bold; }
.family-info em { font-size: 140%; }
span.male { color: #3300FF; } span.female { color: #CC3366; }

.info { width: 20px; height: 20px; background:  url(info.png) top left no-repeat;
	display: inline-block; position: relative; top: 6px; }
.tags-list { display: inline; }
.tags-list a { margin-left: 10px; padding-right: 20px; display: inline-block; 
	background:  url(close.png) top right no-repeat; }
.tags-list a:hover { background-position: right -16px; }
#Person_tags, #Organization_tags { display: none; }

.sub-form { margin: 20px 0 0 25px; border-left: 10px solid brown; padding-left: 15px; }
